* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: #333;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 64px;
  font-weight: bold;
}

p {
  color: #eee;
  font-size: 18px;
}

a {
  color: hsl(180, 100%, 40%);
  text-decoration: none;
}
a:hover {
  color: hsl(180, 100%, 20%);
}

@media (min-width: 600px) {
  .gallery {
    display: flex;
    justify-content: space-evenly;
  }
}

.picture {
  flex: 1;
  margin: 10px;
}

.image-title {
  color: #eee;
  background-color: #111;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.image {
  background-color: #111;
  width: 100%;
  border-radius: 10px;
}

.accordion {
  background-color: hsl(0, 0%, 80%);
  color: #333;
  border-radius: 10px;
  margin: 10px;
  padding-bottom: 5px;
}

.accordion-header {
  font-size: 32px;
  cursor: pointer;
}

.accordion-header::after {
  content: "+";
  position: absolute;
  right: 2rem;
}

.accordion-header.active::after {
  content: "-";
  position: absolute;
  right: 2rem;
}

.accordion-content {
  display: none;
}

.accordion-header.active + .accordion-content {
  display: block;
}

.docs-container {
  text-align: left;
  margin: 30px;
}

@media (min-width: 600px) {
  .docs-container {
    display: flex;
    justify-content: space-between;
  }
}

.docs-container > .left-header {
  flex-basis: 30%;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.docs-container > .documentation-content {
  flex-basis: 68%;
  color: #333;
}
